body {
  background-color: #88EB9C;
  text-align: right;
    }
footer {
  background-color: #FFFFFF;
  text-align: center;
    }
header {
  background-color: #FFFFFF;
    }  
ol {
  text-align: center;
    }
h1 {
  text-align: center;
    }  
ul {
  text-align: left;
    }
h3 {
  text-align: left;
    }
