body {
  background-color: #71CC39;
  text-align: left;
    }
footer {
  background-color: #88EB9C;
  text-align: center;
    }
header {
  background-color: #88EB9C;
    }  
ol {
  text-align: center
    }
h1 {
  text-align: center
    }  
