<link rel= "stylesheet" herf= "style.css">
  body {
    background-color: #71CC39;
    text-align: left;
   }
 footer{
  colour: "wite"
   Trabajos realizados durante el año <br> Agustina Díaz 9°3 
. class=titulo{
 colour: "orange";
   }

